@charset "UTF-8";

//
//	eSolr Greenbox
//

//	todo	lowlight színek, reversed színek


//	----------------------------------------
//	Compatibility

$ie8:						false;			// ie8 compatibility mode for rem unit
$ie7:						false;			// ie7 compatibility mode for rem unit and inline-block


//	----------------------------------------
//	Enable/disable modules, features

$enable-grid-module: 		true;			// true|false
$enable-typography-module: 	true;			// true|false
$enable-icon-module: 		true;			// true|false
$enable-form-module: 		true;			// true|false
$enable-blueprint-module: 	true;			// true|false
$enable-effect-module:		true;			// true|false
$enable-admin-module:		true;			// true|false
$enable-responsive-img:		true;			// true|false
$enable-autocomplete-module:true;			// true|false
$enable-datepicker-module:	true;			// true|false
$enable-encoded-img:		true;			// true|false
$enable-grid-for-print:		false;			// true|false


//	----------------------------------------
//	General variables and base values

//	Dedicated colors
$text-color:				#333333;
$bg-color:					#ffffff;
$border-color:				$text-color;
$hr-color:					$text-color;
$gutter-color:				$text-color;
$icon-border-color:			$text-color;

//	Accent colors
$color-1:					#333333;
$color-2:					#333333;
$color-3:					#333333;
$color-4:					#333333;
$color-5:					#333333;
$color-6:					#333333;
$color-7:					#333333;
$color-8:					#333333;
$color-9:					#333333;
$color-10:					#333333;

//	Supplementary colors
$alert-color: 				#c9003d;
$success-color: 			#009949;
$attention-color:			#ffa911;

//	Link colors
$link-color:				dodgerblue;
$link-visited-color:		darken($link-color, 15%);
$link-hover-color:			orangered;
$link-active-color:		 	orange;
$link-focus-color: 			$link-hover-color;

//	Selected				(more general than nav-sel-..., e.g. calendar selection, pagination etc.)
$selected-color:			$bg-color;
$selected-bg-color:			$color-1;


//	----------------------------------------
//	Grid module

$enable-grid-deprecated:	false;			// compatibility mode with the old grid system

//	Grid settings
$grid-columns:				12;				// number of columns			default: 12
$grid-gutter:				20px;			// size of gutter				default: 20px
$grid-max-width:			1280px;			// maximum layout width (.row)	default: 1200px
$grid-align:				center;			// center|left|right			default: center

//	Grid breaking points
$mq-small:					480px;			// default: 480px
$mq-medium:					768px;			// default: 768px
$mq-large:					960px;			// default: 960px
$mq-xlarge:					1280px;			// default: 1280px
$mq-retina:					1920px;			// default: 1920ox


//	----------------------------------------
//	Init block (google and local fonts)

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro&subset=latin,latin-ext);

$init-font: (
	(esolr-icon, "../lib/greenbox/font/eSolrIconSquare-Regular", eot woff ttf, 400, normal)
	//("fontfamily", "../font/fontfile", eot woff ttf, weight [100...900|normal|bold], style [normal|italic], stretch, unicode-range)
);


//	Common font families
$helvetica:					Helvetica, Arial, sans-serif;
$helvetica-neue:			"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$arial:						Arial, Helvetica, sans-serif;
$georgia:					Georgia, Times, "Times New Roman", serif;
$times:						Times, "Times New Roman", Georgia, serif;
$monospace:					Courier, "Courier New", Monaco, monospace;
$sourcecode:				"Source Code Pro", #{$monospace};

//	Dedicated font family states
$base-sans-family:			$helvetica-neue;	// .sans
$base-serif-family:			$georgia;			// .serif
$base-monospace-family:		$monospace;			// .monospace
$base-sourcecode-family:	$sourcecode;		// .sourcecode

//	Base values
$base-font-family:			$helvetica-neue;
$base-font-size:			12pt;				//	Only pt or px accepted!
$base-rem-value:			$base-font-size;	//	This is only for IE8 fallback! Only pt or px accepted!
$baseline:					18pt;
$gutter:					$grid-gutter;
$es-global-radius:			5px;


//	----------------------------------------
//	Typography module

//	Common font weights with numbers:
//	thin:		100;
//	extralight:	200;
//	light:		300;
//	book:		350;
//	regular:	400;
//	medium:		500;
//	semibold:	600;
//	bold:		700;
//	extrabold:	800;
//	black:		900;


//	selection color
$selection-bg-color:		$color-1;
$selection-color:			$bg-color;

//	Responsive fontsizes
$font-sizes-xsmall: 		(("h1, .h1" 2.8rem ($baseline * 3))
							,("h2, .h2" 2rem   ($baseline * 2))
							,("h3, .h3" 1.5rem $baseline)
							,("h4, .h4" 1.2rem $baseline)
							,("h5, .h5" 1.0rem $baseline)
							,("h6, .h6" 0.9rem $baseline)
							,(p 1rem)
							,(small .8rem)
							);

$font-sizes-small:			();
$font-sizes-medium:			();
$font-sizes-large:			();
$font-sizes-xlarge:			();
$font-sizes-retina:			();


//	Header colors
$header-font:				inherit;
//$header-color:			$text-color;
$subheader-font:			inherit;
$subheader-color:			lighten($text-color, 50%);

//	<pre>, <code> style
$pre-font:					$sourcecode;
$pre-font-smooth:			auto;
$pre-color:					inherit;
$pre-bg:					transparentize($text-color, .95);
$code-color:				inherit;
$code-bg:					transparentize($text-color, .95);

//	<pre class="sourcecode">
$pre-sourcecode-font:		$sourcecode;
$pre-sourcecode-font-smooth:auto;

//	<cite>
$cite-font:					inherit;
$cite-color:				inherit;
$cite-bg:					inherit;



//	----------------------------------------
//	Icon module

$base-icon-family:			esolr-icon;


//	----------------------------------------
//	Debugging

$warning:					false;		// display function and mixin warnings in sass log
$DEBUG-MESSAGE:				false;
$DEBUG:						false;