//	@desc		CSS effects
//	@name
//	@author		Armin
//	@tested
//	@requires	_prefix.scss, css folder

//	Resource:

//	Usage:



$enable-effect-module:		true !default;


@if $enable-effect-module {

	%overflow-hide {
		position: relative;
		overflow: hidden;
	}

	//	Duration
	.duration-0 { @include transition-duration(0ms); }
	.duration-100 { @include transition-duration(100ms); }
	.duration-200 { @include transition-duration(200ms); }
	.duration-300 { @include transition-duration(300ms); }
	.duration-400 { @include transition-duration(400ms); }
	.duration-500 { @include transition-duration(500ms); }
	.duration-600 { @include transition-duration(600ms); }
	.duration-700 { @include transition-duration(700ms); }
	.duration-800 { @include transition-duration(800ms); }
	.duration-900 { @include transition-duration(900ms); }
	.duration-1000 { @include transition-duration(1000ms); }
	.duration-1500 { @include transition-duration(1500ms); }
	.duration-2000 { @include transition-duration(2000ms); }

	//	Delay
	.delay-0 { @include transition-delay(0ms); }
	.delay-100 { @include transition-delay(100ms); }
	.delay-200 { @include transition-delay(200ms); }
	.delay-300 { @include transition-delay(300ms); }
	.delay-400 { @include transition-delay(400ms); }
	.delay-500 { @include transition-delay(500ms); }
	.delay-600 { @include transition-delay(600ms); }
	.delay-700 { @include transition-delay(700ms); }
	.delay-800 { @include transition-delay(800ms); }
	.delay-900 { @include transition-delay(900ms); }
	.delay-1000 { @include transition-delay(1000ms); }
	.delay-1500 { @include transition-delay(1500ms); }
	.delay-2000 { @include transition-delay(2000ms); }

	//	Timing
	.timing-ease { @include transition-timing-function(ease); }
	.timing-easein { @include transition-timing-function(ease-in); }
	.timing-easeout { @include transition-timing-function(ease-out); }
	.timing-linear { @include transition-timing-function(linear); }
	.timing-easeinout { @include transition-timing-function(ease-in-out); }


	.effect {

		//	default values
		.effect-panel1 {
			@extend .duration-200;
			@extend .timing-ease;
			//		@include transition-duration(200ms);
			//		@include transition-timing-function(ease);
		}
		.effect-panel2 {
			@extend .duration-200;
			@extend .timing-ease;
			//		@include transition-duration(200ms);
			//		@include transition-timing-function(ease);
		}

		//	Duration
		&.duration-0	{ & > [class*="effect-panel"] {@extend .duration-0} }
		&.duration-100	{ & > [class*="effect-panel"] {@extend .duration-100} }
		&.duration-200	{ & > [class*="effect-panel"] {@extend .duration-200} }
		&.duration-300	{ & > [class*="effect-panel"] {@extend .duration-300} }
		&.duration-400	{ & > [class*="effect-panel"] {@extend .duration-400} }
		&.duration-500	{ & > [class*="effect-panel"] {@extend .duration-500} }
		&.duration-600	{ & > [class*="effect-panel"] {@extend .duration-600} }
		&.duration-700	{ & > [class*="effect-panel"] {@extend .duration-700} }
		&.duration-800	{ & > [class*="effect-panel"] {@extend .duration-800} }
		&.duration-900	{ & > [class*="effect-panel"] {@extend .duration-900} }
		&.duration-1000 { & > [class*="effect-panel"] {@extend .duration-1000} }
		&.duration-1500 { & > [class*="effect-panel"] {@extend .duration-1500} }
		&.duration-2000 { & > [class*="effect-panel"] {@extend .duration-2000} }

		//	Delay
		&.delay-0	{ & > [class*="effect-panel"] {@extend .delay-0} }
		&.delay-100 { & > [class*="effect-panel"] {@extend .delay-100} }
		&.delay-200 { & > [class*="effect-panel"] {@extend .delay-200} }
		&.delay-300 { & > [class*="effect-panel"] {@extend .delay-300} }
		&.delay-400 { & > [class*="effect-panel"] {@extend .delay-400} }
		&.delay-500 { & > [class*="effect-panel"] {@extend .delay-500} }
		&.delay-600 { & > [class*="effect-panel"] {@extend .delay-600} }
		&.delay-700 { & > [class*="effect-panel"] {@extend .delay-700} }
		&.delay-800 { & > [class*="effect-panel"] {@extend .delay-800} }
		&.delay-900 { & > [class*="effect-panel"] {@extend .delay-900} }
		&.delay-1000{ & > [class*="effect-panel"] {@extend .delay-1000} }
		&.delay-1500{ & > [class*="effect-panel"] {@extend .delay-1500} }
		&.delay-2000{ & > [class*="effect-panel"] {@extend .delay-2000} }

		//	Timing
		&.timing-ease		{ & > [class*="effect-panel"] {@extend .timing-ease} }
		&.timing-easein		{ & > [class*="effect-panel"] {@extend .timing-easein} }
		&.timing-easeout	{ & > [class*="effect-panel"] {@extend .timing-easeout} }
		&.timing-linear		{ & > [class*="effect-panel"] {@extend .timing-linear} }
		&.timing-easeinout	{ & > [class*="effect-panel"] {@extend .timing-easeinout} }

		//
		//	Simple rollover effect
		//

		//
		//	Two panel effects
		//

		//	3dflip
		&.effect-3dflip {}


		//	slidetop
		&.effect-slidetop {
			@extend %overflow-hide;


			.effect-panel2 {
				margin-top: -100%;
				position: absolute;
				top: 0;
				left: 0;
				@include transition-property(margin-top);
			}

			&:hover {

				.effect-panel2 {
					margin-top: 0%;
				}
			}
		}

		//	slidebottom
		&.effect-slidebottom {
			@extend %overflow-hide;

			.effect-panel2 {
				margin-bottom: -100%;
				position: absolute;
				bottom: 0;
				left: 0;
				@include transition-property(margin-bottom);
			}

			&:hover {

				.effect-panel2 {
					margin-bottom: 0%;
				}
			}
		}

		//	slideleft
		&.effect-slideleft {
			@extend %overflow-hide;

			.effect-panel2 {
				margin-left: -100%;
				position: absolute;
				top: 0;
				left: 0;
				@include transition-property(margin-left);
			}

			&:hover {

				.effect-panel2 {
					margin-left: 0%;
				}
			}
		}

		//	slideright
		&.effect-slideright {
			@extend %overflow-hide;

			.effect-panel2 {
				margin-right: -100%;
				position: absolute;
				top: 0;
				right: 0;
				@include transition-property(margin-right);
			}

			&:hover {

				.effect-panel2 {
					margin-right: 0%;
				}
			}
		}

		//	slide left
		&.effect-slideleft-full {
			@extend %overflow-hide;
			white-space: nowrap;

			.effect-panel1 {
				width: 100%;
			}

			.effect-panel2 {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				margin-right: -100%;
				@include transition-property(margin-right);
			}

			&:hover {

				.effect-panel2 {
					margin-right: 0%;
				}
			}
		}

		//	push from left
		&.effect-pushleft {
			@extend %overflow-hide;
			white-space: nowrap;

			.effect-panel1 {
				width: 100%;
				margin-left: 0%;
				@include transition-property(margin-left);
			}

			.effect-panel2 {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				margin-right: -100%;
				@include transition-property(margin-right);
			}

			&:hover {

				.effect-panel1 {
					margin-left: -100%;
				}

				.effect-panel2 {
					margin-right: 0%;
				}
			}
		}

		//	push from right
		&.effect-pushright {
			@extend %overflow-hide;
			white-space: nowrap;

			.effect-panel1 {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				margin-left: -100%;
				@include transition-property(margin-left);
			}

			.effect-panel2 {
				width: 100%;
				margin-left: 0%;
				@include transition-property(margin-left);
			}

			&:hover {

				.effect-panel1 {
					margin-left: 0%;
				}

				.effect-panel2 {
					margin-left: 100%;
				}
			}
		}

		//	push from top
		&.effect-pushtop {
			@extend %overflow-hide;

			.effect-panel1 {
				position: relative;
				width: 100%;
				//			height: 100%;
				margin-top: 0%;
				@include transition-property(margin-top);
			}

			.effect-panel2 {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				//			height: 100%;
				margin-top: -100%;
				@include transition-property(margin-top);
			}

			&:hover {

				.effect-panel1 {
					margin-top: 100%;
				}

				.effect-panel2 {
					margin-top: 0%;
				}
			}
		}
	}
}