//	@desc		REM value converter with built in ie8 fallback
//	@name
//	@author		Armin
//	@tested
//	@requires	_settings.scss ($ie8, $warning)

//	Research
//	http://dpi.lv/#17.3″


//	Converts argument or list of arguments to rem value or list of rem value.
//	The unit of argument and $es-rem-base has to match to get a valid rem value.
//	Otherwise it returns the original argument. If $ie8 compatibility is set
//	to true, the px/pt/etc. fallback become active.



$base-font-size:			12pt !default;						//	Only pt or px accepted!
$base-rem-value:			$base-font-size !default;			//	This is only for IE8 fallback! Only pt or px accepted!
$ie7:						false !default;
$ie8:						false !default;
$warning:					false !default;
$client-dpi:				96 !default;



@mixin setClientDpi($arg) {
	$client-dpi: $arg !global;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-resolution: 1dppx),
only screen and (min-resolution: 96dpi) {
	@include setClientDpi(96);
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (min-resolution: 1.3dppx),
only screen and (min-resolution: 144dpi) {
	@include setClientDpi(144);
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
only screen and (min-resolution: 196dpi) {
	@include setClientDpi(196);
}


//	pt 2 px conversion
@function pt2px($arg) {
	@if (unit($arg) == pt) {
		$arg: $arg / ($arg * 0 + 1);
		@return round($arg * (96 / 72));
	}
	@else {
		@return $arg;
	}
}



//	Convert rem value to px/pt using the unit of base rem value
//	if $ie7 or $ie8 is true. Any other unit remains the original.
@function rem($arg) {

	$arg-list: ();

	@if ($ie8 or $ie7) {
		@if (type_of($arg) == list) {
			@each $i in $arg { $arg-list: append($arg-list, rem($i)); }
			@return $arg-list;
		}
		@else if (type-of($arg) == number) {

			@if (unit($arg) == rem and (unit($base-rem-value) == pt or unit($base-rem-value) == px)) {		// if arg is rem and base rem value is pt or px
				@return ($arg / ($arg * 0 + 1)) * $base-rem-value;
			}
			@else {
				@return $arg;	// if arg is not rem
			}
		}
	}
	@else {
		@return $arg;
	}
}