//  ------------------------------------------------------------
//  Media query moduls based on foundation
//  ------------------------------------------------------------
//  .show-for-small {}      Visible up to 768px
//  .show-for-medium-down   Visible from 768px down
//  .show-for-medium        Visible between 768px and 1280px
//  .show-for-medium-up     Visible from 768px up
//  .show-for-large-down    Visible from 1280px down
//  .show-for-large         Visible between 1280px and 1440px
//  .show-for-large-up      Visible from 1280px up
//  .show-for-xlarge        Visible above 1440px only
//
//  .hide-for-small         Hidden up to 768px
//  .hide-for-medium-down   Hidden from 768px down
//  .hide-for-medium        Hidden between 768px and 1280px
//  .hide-for-medium-up     Hidden from 768px up
//  .hide-for-large-down    Hidden from 1280px down
//  .hide-for-large         Hidden between 1280px and 1440px
//  .hide-for-large-up      Hidden from 1280px up
//  .hide-for-xlarge        Hidden above 1440px only
//
//  .show-for-landscape     Visible for landscape orientation
//  .show-for-portrait      Visible for portrait orientation
//  .hide-for-landscape     Hidden for landscape orientation
//  .hide-for-portrait      Hidden for portrait orientation

//  TODO .touch és nyomtatóbarát, gyengénlátós kapcsolókat betenni

//  NOT FOR UNIQUE IMPORT!




//  below 640px = small
@media #{$screen} {

	// show
	//.show-for-small { display: inherit !important; }
	.show-for-medium { display: none !important; }
	.show-for-large { display: none !important; }
	.show-for-xlarge { display: none !important; }

	//.show-for-medium-down { display: inherit !important; }
	//.show-for-large-down { display: none !important; }
	//.show-for-xlarge-down { display: none !important; }

	.show-for-medium-up { display: none !important; }
	.show-for-large-up { display: none !important; }

	// hide
	.hide-for-small { display: none !important; }
	//.hide-for-medium { display: inherit !important; }
	//.hide-for-large { display: inherit !important; }
	//.hide-for-xlarge { display: inherit !important; }

	.hide-for-medium-down { display: none !important; }
	.hide-for-large-down { display: none !important; }
	.hide-for-xlarge-down { display: none !important; }

	//.hide-for-medium-up { display: inherit !important; }
	//.hide-for-large-up { display: inherit !important; }
	//.hide-for-xlarge-up { display: inherit !important; }
}

//  640px – 1024px
@media #{$medium} {

	// show
	.show-for-small { display: none !important; }
	.show-for-medium { display: inherit !important; }
	//.show-for-large { display: none !important; }
	//.show-for-xlarge { display: none !important; }

	.show-for-medium-down { display: none !important; }
	//.show-for-large-down { display: inherit !important; }
	//.show-for-xlarge-down { display: inherit !important; }

	.show-for-medium-up { display: inherit !important; }
	//.show-for-large-up { display: inherit !important; }

	// hide
	.hide-for-small { display: inherit !important; }
	.hide-for-medium { display: none !important; }
	//.hide-for-large { display: inherit !important; }
	//.hide-for-xlarge { display: inherit !important; }

	.hide-for-medium-down { display: inherit !important; }
	//.hide-for-large-down { display: inherit !important; }
	//.hide-for-xlarge-down { display: inherit !important; }

	.hide-for-medium-up { display: none !important; }
	//.hide-for-large-up { display: inherit !important; }
	//.hide-for-xlarge-up { display: inherit !important; }
}

//	1024px – 1440px
@media #{$large} {

	// show
	//.show-for-small { display: inherit !important; }
	.show-for-medium { display: none !important; }
	.show-for-large { display: inherit !important; }
	//.show-for-xlarge { display: inherit !important; }

	//.show-for-medium-down { display: inherit !important; }
	.show-for-large-down { display: none !important; }
	//.show-for-xlarge-down { display: inherit !important; }

	.show-for-medium-up { display: inherit !important; }
	//.show-for-large-up { display: inherit !important; }

	// hide
	//.hide-for-small { display: inherit !important; }
	.hide-for-medium { display: inherit !important; }
	.hide-for-large { display: none !important; }
	//.hide-for-xlarge { display: inherit !important; }

	//.hide-for-medium-down { display: inherit !important; }
	.hide-for-large-down { display: inherit !important; }
	//.hide-for-xlarge-down { display: inherit !important; }

	//.hide-for-medium-up { display: inherit !important; }
	.hide-for-large-up { display: none !important; }
	//.hide-for-xlarge-up { display: inherit !important; }
}

//  1440px and above
@media #{$xlarge} {
	// show
	//.show-for-small { display: inherit !important; }
	//.show-for-medium { display: inherit !important; }
	.show-for-large { display: none !important; }
	.show-for-xlarge { display: inherit !important; }

	//.show-for-medium-down { display: inherit !important; }
	//.show-for-large-down { display: inherit !important; }
	.show-for-xlarge-down { display: none !important; }

	//.show-for-medium-up { display: inherit !important; }
	.show-for-large-up { display: inherit !important; }

	// hide
	//.hide-for-small { display: inherit !important; }
	//.hide-for-medium { display: inherit !important; }
	.hide-for-large { display: inherit !important; }
	.hide-for-xlarge { display: none !important; }

	//.hide-for-medium-down { display: inherit !important; }
	//.hide-for-large-down { display: inherit !important; }
	.hide-for-xlarge-down { display: inherit !important; }

	//.hide-for-medium-up { display: inherit !important; }
	//.hide-for-large-up { display: inherit !important; }
	//.hide-for-xlarge-up { display: inherit !important; }
}


//  Orientation specific visibility
.show-for-landscape,
.hide-for-portrait { display: inherit !important; }
.hide-for-landscape,
.show-for-portrait { display: none !important; }

//  landscape specific visibility
@media #{$landscape} {
	.show-for-landscape,
	.hide-for-portrait { display: inherit !important; }
	.hide-for-landscape,
	.show-for-portrait { display: none !important; }
}

//  portrait specific visibility
@media #{$portrait} {
	.show-for-portrait,
	.hide-for-landscape { display: inherit !important; }
	.hide-for-portrait,
	.show-for-landscape { display: none !important; }
}


//  Touch-enabled device targeting
.show-for-touch { display: none !important; }
.hide-for-touch { display: inherit !important; }
.touch .show-for-touch { display: inherit !important; }
.touch .hide-for-touch { display: none !important; }