//  ------------------------------------------------------------
//  Media query defaults
//  ------------------------------------------------------------

//	Research
//	http://dpi.lv/
//	http://opensourcehacker.com/2012/01/09/including-mobile-specific-css-with-css3-media-queries-setting-mobile-browser-viewport-mobilizing-websites-with-responsive-design-and-html5-part-5/
//	http://stackoverflow.com/questions/20664684/correct-queries-for-screen-widths-and-device-resolutions
//	https://gist.github.com/kimroen/4117149#file-high-dpi-media-scss
//	http://www.w3.org/blog/CSS/2012/06/14/unprefix-webkit-device-pixel-ratio/
//	https://gist.github.com/mparker17/27ec1d0a770b0ea9218d
//	http://css-tricks.com/snippets/css/retina-display-media-query/


//	Default breakingpoints
$medium-screen: 			640px !default;
$large-screen:  			1024px !default;
$xlarge-screen: 			1440px !default;

//  screen size specific media queries
$screen:        "only screen" !global; // - 640px
//$small:         "only screen and (max-width:"#{$medium-screen}")";
$small:         $screen !global;
$medium:        "only screen and (min-width:"#{$medium-screen}")" !global;  // 640px–1024px
$large:         "only screen and (min-width:"#{$large-screen}")" !global;   // 1024–1440px
$xlarge:        "only screen and (min-width:"#{$xlarge-screen}")" !global;  // 1440px–

//  orientation specific media queries
$landscape:     "only screen and (orientation: landscape)" !global;
$portrait:      "only screen and (orientation: portrait)" !global;


//
//  touch device specific settings
//  TODO megcsinálni az érintésvezérelt leválogatást is
//