//  ------------------------------------------------------------
//  Media query defaults
//  ------------------------------------------------------------


//@import "esolr/variables";
//@import "esolr/utility/rem-calc";


//  responsivity breakpoints
//$small-screen:  rem-calc(640px);
//$medium-screen: 640px;
//$medium-screen: px-calc(64rem);
//$large-screen:  px-calc(102.4rem);
//$xlarge-screen: px-calc(144rem);

//	kivezetve az esolr-settingbe
//$medium-screen: 640px;
//$large-screen:  1024px;
//$xlarge-screen: 1440px;

//  screen size specific media queries
$screen:        "only screen" !global; // - 640px
//$small:         "only screen and (max-width:"#{$medium-screen}")";
$small:         $screen !global;
$medium:        "only screen and (min-width:"#{$medium-screen}")" !global;  // 640px–1024px
$large:         "only screen and (min-width:"#{$large-screen}")" !global;   // 1024–1440px
$xlarge:        "only screen and (min-width:"#{$xlarge-screen}")" !global;  // 1440px–

//  orientation specific media queries
$landscape:     "only screen and (orientation: landscape)" !global;
$portrait:      "only screen and (orientation: portrait)" !global;


//
//  touch device specific settings
//  TODO megcsinálni az érintésvezérelt leválogatást is
//