//	desc		General background alignment
//	name
//	author
//	tested
//	requires
//	for			esolr.responsiveimg.js


.bg-align {
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-align-inline {
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-align-center 		{ background-position: center center; }
.bg-align-top 			{ background-position: center top; }
.bg-align-topright		{ background-position: right top; }
.bg-align-right			{ background-position: right center; }
.bg-align-bottomright	{ background-position: right bottom; }
.bg-align-bottom		{ background-position: center bottom; }
.bg-align-bottomleft	{ background-position: left bottom; }
.bg-align-left			{ background-position: left center; }
.bg-align-topleft		{ background-position: left top; }