//	desc		General background alignment
//	name
//	author
//	tested
//	requires
//	for			esolr.responsiveimg.js


.bg-align {
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-align-inline {
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-align-center 		{
	@extend .bg-align;
	background-position: center center;
}
.bg-align-top 			{
	@extend .bg-align;
	background-position: center top;
}

.bg-align-topright		{
	@extend .bg-align;
	background-position: right top;
}
.bg-align-right			{
	@extend .bg-align;
	background-position: right center;
}

.bg-align-bottomright	{
	@extend .bg-align;
	background-position: right bottom;
}

.bg-align-bottom		{
	@extend .bg-align;
	background-position: center bottom;
}

.bg-align-bottomleft	{
	@extend .bg-align;
	background-position: left bottom;
}

.bg-align-left			{
	@extend .bg-align;
	background-position: left center;
}

.bg-align-topleft		{
	@extend .bg-align;
	background-position: left top;
}
