//	todo	csekkolni, kell-e ez egyáltalán vagy külön pozícionáló class-t létrehozni



@mixin center($shift: false) {
	@if $shift == false {
		margin: {
			left: auto;
			right: auto;
		};
	}
	@else {
		position: absolute;
		left: 50%;
		margin-left: $shift;
	}
}


//.center {
//	margin: 0 auto;
//}

