//  @name		Icon
//  @desc		Icon
//  @author
//  @tested
//  @requires

//  todo		border variációkat elkészíteni
//  todo		animált ikonok
//  todo		többszínű / többszintű ikonok
//  todo		default padding és ikon méret
//  todo		margin-top problémát megoldani (ami igazából line-height)
//  todo		opera alatt a kör ovális
//  todo		.icon visszavezetése = kisebb forrás
//  todo		tesztelni IE alatt is!

//  todo		ikonok: kép, üres doksi, fájlformátumok, portlet általános és portlettípusonként
//  todo		chat, komment ikom


//  Usage:
//	<span class="icon icon-download h6 has-circle-border" aria-hidden="true"></span>
//
//	you can set the icon symbol, icon size, :
//	• icon-<symbol name>    – add basic icon behavior and set the actual symbol
//	• h1...h6               – icon size, but feel free to add any kind of value in css
//	• has-circle-border     – set size specific border etc.



//	Enable / disable modul
$enable-icon-module:		true !default;


//  Set symbol added as an arguent
//  use @include set-icon-symbol(<symbol character>);
@mixin set-icon-symbol($icon) {
	&:before {
		position: relative;
		content: $icon;
	}
}

//  Set size specific circle with optimal padding
//  use @include icon-is-circle;
@mixin icon-is-circle {
	@include border-radius(50%);

	&:after {
		content: " ";
		position: absolute;
		float: left;
		top: 0;
		left: 0;
		@include border-radius(50%);
		width: 100%;
		height: 100%;
	}
}

//  Set padding
//  use @incluse icon-has-padding(<rem value>);
@mixin icon-has-padding($icon-size: 1rem) {
	padding: rem($icon-size / 2.5);
	margin-top: rem($icon-size / 2.5);
	line-height: rem($icon-size * 2);
}


//	Load icon module
@if $enable-icon-module {


	//@include init-font("esolr-icon", "../font/eSolrIconSquare-Regular", eot woff ttf, 400, normal);
	//$icon-font-family: esolr-icon;


	//  default icon sizes
	$icon-size-1:   5rem !default;                          // .h1
	$icon-size-2:   4rem !default;                          // .h2
	$icon-size-3:   3rem !default;                          // .h3
	$icon-size-4:   2rem !default;                          // .h4
	$icon-size-5:   1.5rem !default;                        // .h5
	$icon-size-6:   1rem !default;                          // .h6


	//  default icon size classes from h1...h6
	//  use <span class="icon-heart h4" aria-hidden="true"></span>
	[class*="icon"] {
		&.h1 {font-size: rem($icon-size-1);}
		&.h2 {font-size: rem($icon-size-2);}
		&.h3 {font-size: rem($icon-size-3);}
		&.h4 {font-size: rem($icon-size-4);}
		&.h5 {font-size: rem($icon-size-5);}
		&.h6 {font-size: rem($icon-size-6);}
	}

	//  Set basic icon properties without adding any icon symbol
	.icon {
		position: relative;
		@extend .inline-block;
		font-family: $base-icon-family;
		font-weight: 400 !important;
		speak: none;

		& + [class*="icon"] {margin-left: -4px;}            // inline-block horizontal margin fix
	}

	a.icon:hover {
		text-decoration: none;
	}

	//  circle
	.icon-is-not-circle         {@include border-radius(0);}
	.icon-is-circle             {@include icon-is-circle;}

	//  border
	.icon-has-no-border         {border: 0 solid transparent; border: none;}
	.icon-has-border            {border: 3pt solid $icon-border-color;}
	.icon-has-hairline-border   {@extend .icon-has-border; border-width: 1pt;}
	.icon-has-thin-border       {@extend .icon-has-border; border-width: 2pt;}
	.icon-has-strong-border     {@extend .icon-has-border; border-width: 4pt;}

	//  padding
	.icon-has-no-padding {padding: 0;}
	.h1.icon-has-padding, .h1 .icon-has-padding, .icon-has-h1-padding {@include icon-has-padding($icon-size-1);}
	.h2.icon-has-padding, .h2 .icon-has-padding, .icon-has-h2-padding {@include icon-has-padding($icon-size-2);}
	.h3.icon-has-padding, .h3 .icon-has-padding, .icon-has-h3-padding {@include icon-has-padding($icon-size-3);}
	.h4.icon-has-padding, .h4 .icon-has-padding, .icon-has-h4-padding {@include icon-has-padding($icon-size-4);}
	.h5.icon-has-padding, .h5 .icon-has-padding, .icon-has-h5-padding {@include icon-has-padding($icon-size-5);}
	.h6.icon-has-padding, .h6 .icon-has-padding, .icon-has-h6-padding {@include icon-has-padding($icon-size-6);}


	//  icon set
	.icon-folder        { @include set-icon-symbol("A"); }
	.icon-folder-opened { @include set-icon-symbol("Á"); }
	.icon-bookmark-landscape { @include set-icon-symbol("B"); }
	.icon-phone         { @include set-icon-symbol("C"); }
	.icon-calendar      { @include set-icon-symbol("D"); }
	.icon-mail          { @include set-icon-symbol("E"); }
	//.icon- { @include set-icon-symbol("F"); }
	.icon-geo           { @include set-icon-symbol("G"); }
	.icon-geo-2         { @include set-icon-symbol("\0194"); }
	.icon-geo-3         { @include set-icon-symbol("\011E"); }
	.icon-geo-4         { @include set-icon-symbol("\01E6"); }
	.icon-home          { @include set-icon-symbol("H"); }
	//.icon- { @include set-icon-symbol("I"); }
	.icon-print         { @include set-icon-symbol("J"); }
	.icon-book-bookmarked { @include set-icon-symbol("K"); }
	.icon-label         { @include set-icon-symbol("L"); }
	.icon-help          { @include set-icon-symbol("M"); }
	.icon-paper         { @include set-icon-symbol("N"); }
	//.icon- { @include set-icon-symbol("O"); }
	//.icon- { @include set-icon-symbol("Ó"); }
	//.icon- { @include set-icon-symbol("Ö"); }
	//.icon- { @include set-icon-symbol("Ő"); }
	.icon-persons       { @include set-icon-symbol("P"); }
	.icon-db            { @include set-icon-symbol("Q"); }
	//.icon- { @include set-icon-symbol("R"); }
	.icon-search        { @include set-icon-symbol("S"); }
	.icon-search-2      { @include set-icon-symbol("\015A"); }
	.icon-trash         { @include set-icon-symbol("T"); }
	.icon-arrow-down    { @include set-icon-symbol("U"); }
	.icon-enter         { @include set-icon-symbol("Ú"); }
	.icon-book          { @include set-icon-symbol("Ü"); }
	.icon-basket        { @include set-icon-symbol("Ű"); }
	.icon-cog           { @include set-icon-symbol("V"); }
	.icon-up            { @include set-icon-symbol("W"); }
	.icon-x             { @include set-icon-symbol("X"); }
	//.icon-        { @include set-icon-symbol("Y"); }
	//.icon-        { @include set-icon-symbol("Z"); }
	//.icon-        { @include set-icon-symbol("a"); }
	//.icon-        { @include set-icon-symbol("á"); }
	.icon-bookmark      { @include set-icon-symbol("b"); }
	.icon-handset       { @include set-icon-symbol("c"); }
	.icon-download      { @include set-icon-symbol("d"); }
	.icon-exit          { @include set-icon-symbol("e"); }
	//.icon-        { @include set-icon-symbol("é"); }
	.icon-filter        { @include set-icon-symbol("f"); }
	.icon-monitor       { @include set-icon-symbol("h"); }
	//.icon-        { @include set-icon-symbol("i"); }
	.icon-bookmark-small { @include set-icon-symbol("j"); }
	.icon-bookshelf     { @include set-icon-symbol("k"); }
	.icon-heart         { @include set-icon-symbol("l"); }
	.icon-handpointer   { @include set-icon-symbol("m"); }
	.icon-handpointer-bg { @include set-icon-symbol("n"); }
	.icon-target        { @include set-icon-symbol("o"); }
	//.icon-        { @include set-icon-symbol("ó"); }
	//.icon-        { @include set-icon-symbol("ö"); }
	//.icon-        { @include set-icon-symbol("ő"); }
	.icon-person        { @include set-icon-symbol("p"); }
	.icon-db-bold       { @include set-icon-symbol("q"); }
	.icon-rss           { @include set-icon-symbol("r"); }
	.icon-sitemap       { @include set-icon-symbol("s"); }
	.icon-sort          { @include set-icon-symbol("t"); }
	.icon-arrow-up      { @include set-icon-symbol("u"); }
	//.icon-        { @include set-icon-symbol("ú"); }
	.icon-edit          { @include set-icon-symbol("ü"); }
	.icon-into-basket   { @include set-icon-symbol("ű"); }
	.icon-blind         { @include set-icon-symbol("v"); }
	.icon-down          { @include set-icon-symbol("w"); }
	.icon-x-small       { @include set-icon-symbol("x"); }
	.icon-ok            { @include set-icon-symbol("y"); }
	//.icon-        { @include set-icon-symbol("z"); }
	.icon-plus          { @include set-icon-symbol("+"); }
	.icon-minus         { @include set-icon-symbol("\2212"); }
	.icon-menu          { @include set-icon-symbol("="); }
	.icon-alert         { @include set-icon-symbol("!"); }
	.icon-left          { @include set-icon-symbol("‹"); }
	.icon-right         { @include set-icon-symbol("›"); }
	.icon-arrow-left    { @include set-icon-symbol("«"); }
	.icon-arrow-right   { @include set-icon-symbol("»"); }
	.icon-blocks        { @include set-icon-symbol("\2260"); }


	//  social iconset
	.icon-twitter       { @include set-icon-symbol("\0391"); }
	.icon-pinterest     { @include set-icon-symbol("\0392"); }
	.icon-facebook      { @include set-icon-symbol("\0393"); }
	.icon-googleplus    { @include set-icon-symbol("\0394"); }
	.icon-youtube       { @include set-icon-symbol("\0395"); }
	.icon-youtube-2     { @include set-icon-symbol("\0396"); }
	.icon-thumblr       { @include set-icon-symbol("\0397"); }
	.icon-apple         { @include set-icon-symbol("\0398"); }
	.icon-behance       { @include set-icon-symbol("\0399"); }
	.icon-vimeo         { @include set-icon-symbol("\039A"); }
	.icon-flickr        { @include set-icon-symbol("\039B"); }
	.icon-linkedin      { @include set-icon-symbol("\039D"); }
	.icon-blogspot      { @include set-icon-symbol("\039F"); }
	//.icon-              { @include set-icon-symbol("\03A0"); }    // labda
	.icon-skype         { @include set-icon-symbol("\03A1"); }
	//.icon-{ @include set-icon-symbol("\03A2"); }
	.icon-yahoo         { @include set-icon-symbol("\03A3"); }
	.icon-windows       { @include set-icon-symbol("\03A4"); }
	.icon-appstore      { @include set-icon-symbol("\03A5"); }
	.icon-amazon        { @include set-icon-symbol("\03A6"); }
	.icon-android       { @include set-icon-symbol("\03A7"); }
	.icon-instagram     { @include set-icon-symbol("\03A8"); }
	//.icon-          { @include set-icon-symbol("\03A9"); }     // alulvonás, mint egy letöltés
	//.icon-            { @include set-icon-symbol("\0386"); }   // fa
	.icon-dropbox       { @include set-icon-symbol("\0388"); }
	.icon-lastfm        { @include set-icon-symbol("\0389"); }
	.icon-soundcloud    { @include set-icon-symbol("\038A"); }
	.icon-wordpress     { @include set-icon-symbol("\038C"); }
	.icon-digg          { @include set-icon-symbol("\038E"); }
	.icon-stumbleupon   { @include set-icon-symbol("\038"); }   // TODO van újabb logójuk
	.icon-ebay          { @include set-icon-symbol("\03AA"); }
	.icon-picasa        { @include set-icon-symbol("\03AB"); }
	.icon-paypal        { @include set-icon-symbol("\03B1"); }
	.icon-deviantart    { @include set-icon-symbol("\03B2"); }
	.icon-googledrive   { @include set-icon-symbol("\03B3"); }
	.icon-delicious     { @include set-icon-symbol("\03B"); }
	//.icon-rss           { @include set-icon-symbol("\03B5"); }
	.icon-share         { @include set-icon-symbol("\03B6"); }
	.icon-iwiw          { @include set-icon-symbol("\03AE"); }

	//  TODO reddit, mister-wong, yahoo-buzz,


	//  eSolr specific
	.icon-esolution     { @include set-icon-symbol("\0370"); }
	.icon-esolution-2   { @include set-icon-symbol("\0372"); }
}