//	@desc		Basic list with no bullets and no margins
//	@name		List
//	@author
//	@tested
//	@requires
//
//	todo	media query specifikus listákat létrehozni, ami egyik nézetben ilyen inline, a másikban normal
//	todo	list-unstyled

//	Research:		http://css-tricks.com/almanac/properties/l/list-style/



$baseline:					18pt !default;
$gutter:					$grid-gutter !default;


ol,
ul {
	padding: 0;
	list-style-type: none;
}


//  normal vertical list
.list {
	list-style-type: none;

	> * {
		display: list-item;
		float: none;
	}
}


//	no format
.list-noformat {
	list-style-type: none !important;
	padding-left: 0 !important;
}


//  horizontal list
.list-inline {
	@extend .list;

	> * {
		@include inline-block;
		margin-right: -4px;
	}
}

//	new list inline without whitespace compensation
.inline-list {
	@extend .list;

	> * { @include inline-block; }
}

//	horizontal list ——as inline-box—— -4px margin fix if
.inline-list-fix > * {
	margin-right: -4px;
}

//	the old way
/*.list-inline {
	@extend .list;
	@include clearfix;

	> * {
		float: left;
	}
}*/


//  inline flowing box list
.list-inline-box {
	@extend .list-inline;

	margin-left: $gutter / -2;
	margin-right: $gutter / -2;

	> * {
		@include inline-block;
		margin-right: -4px;
		padding-left: $gutter / 2;
		padding-right: $gutter / 2;
		padding-top: 0;
		padding-bottom: $baseline;
		vertical-align: top;

		img {
			max-width: 100%;
		}
	}
}
