//  @name           Media block
//  @desc           Media block - image on left/right, text next to it.
//  @author
//  @tested
//  @requires


//  Usage in html
//
//<div class="media">
//	<a href="#" class="media-left"><img src=""><!-- optional left item --></a>
//	<a href="#" class="media-right"><img src=""><!-- optional right item --></a>
//	<div class="media-body"><!-- body item in center --></div>
//</div>


.media {
//	margin-top: $baseline / 2;
	margin-bottom: $baseline / 2;

	@extend .clearfix-micro;

	.media-left {
		float: left;
		margin-right: $es-grid-gutter / 2;

		img { display: block; }
	}

	.media-body {
		@extend .clearfix-facebook;
	}

	.media-right {
		float: right;
		margin-left: $es-grid-gutter / 2;

		img { display: block; }
	}
}


//	Inline media block
//	Similar to media block, but allows verical alignment.
.media-inline {
	vertical-align: middle;

	& > img, & > span {
		display: inline-block;
		vertical-align: middle;
	}
}