/*
	A kompatibilitás miatt ennek alapszerkezete megegyezik a Bootstrapével
*/


$enable-modal-module:		true !default;

@mixin set-modal-width($width) {
	width: $width;
	max-width: $width;
	margin-left: $width / -2;
}

@if $enable-modal-module {

	.modal {
		position: fixed;
		display: none;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparentize(black, .5);
		z-index: 999999;

		.modal-dialog {
			position: fixed;
			top: 47%;
			left: 50%;
			margin: $baseline $gutter;
			padding: $baseline $gutter;
			background-color: white;
			@include set-modal-width(500px);

			.modal-content {}
			.modal-header {

				.modal-title {}
			}

			.modal-body {}
			.modal-footer {}
		}


		// alignment settings
		&.modal-top {
			.modal-dialog { top: 0; }
		}

		&.modal-right {
			.modal-dialog {
				position: absolute;
				left: auto;
				right: 0;
				margin-left: auto;
			}
		}

		&.modal-bottom {
			.modal-dialog {
				top: auto;
				bottom: 0;
			}
		}

		&.modal-left {
			.modal-dialog {
				position: absolute;
				left: 0;
				margin-left: 0;
			}
		}

		&.modal-center {}


		// width settings

		&.modal-fluid {

			.modal-dialog {
				position: absolute;
				width: 100% !important;
				min-width: 100% !important;
				left: 0;
				right: auto;
				bottom: auto;
				margin-left: 0 !important;
			}
		}

		&.modal-200 { .modal-dialog {	@include set-modal-width(200px) } }
		&.modal-300 { .modal-dialog {	@include set-modal-width(300px) } }
		&.modal-400 { .modal-dialog {	@include set-modal-width(400px) } }
		&.modal-500 { .modal-dialog {	@include set-modal-width(500px) } }
		&.modal-600 { .modal-dialog {	@include set-modal-width(600px) } }
		&.modal-700 { .modal-dialog {	@include set-modal-width(700px) } }
		&.modal-800 { .modal-dialog {	@include set-modal-width(800px) } }
		&.modal-900 { .modal-dialog {	@include set-modal-width(900px) } }
		&.modal-1000 { .modal-dialog {	@include set-modal-width(900px) } }

		&.modal-wide {
			.modal-dialog {
				position: absolute;
				width: 80%;
				min-width: 80%;
				left: 0;
				margin-left: 10%;
			}
		}

		&.modal-half {
			.modal-dialog {
				position: absolute;
				width: 50%;
				min-width: 50%;
				left: 0;
				margin-left: 25%;
			}
		}
	}
}
