//	@name		Basic navigation style
//	@desc		nav properties
//	@author		Armin
//	@tested
//	@requires


nav, .nav {
	a,
	a:link,
	a:active,
	a:hover,
	a:visited {
		text-decoration: none;
	}
}

//  use it for the top parent if you want to make a multi level ul/ol li list
.nav-dropdown {
	@extend .nav;
	@extend .inline-block;                      // display-block + IE7 fix
	overflow: visible;
	white-space: nowrap;

	ul, ol {                                            // second level and above
		display: none;
		position: absolute;
		overflow: visible;
		left: 100%;
		z-index: 9000;

		.list-item {
			&:before {
				display: none;
			}
		}
	}

	li {
		overflow: visible !important;
		overflow-wrap: auto;
		position: relative;

		&:hover {
			> ul, ol {
				display: block;
				//visibility: visible;
			}
		}

		@include clearfix;
	}
}

.list-inline.nav-dropdown {
	@extend .nav;

	ul, ol {                                            // second levels and above
		li {
			display: list-item;
			float: none;
		}
	}

	> li > ul, ol {                                     // second level only
		left: 0;
		margin-top: 0;
	}

	.snap-right {										// jobbra zárt almenü
		left: auto;
		right: 0;
	}
}