//
//	Schematic portlet model
//

.panel-group {
	margin-bottom: $baseline;

	.panel {
		margin-bottom: 0;
	}

	//	default accordion panel status is collapsed
	//	to expand a panel within a panel group use .panel .expanede together
	&.accordion {

		.panel {

			&, * {
				@include transition(all .2s linear);
			}

			& > * {
				position: relative;
				overflow: hidden;
			}

			&:not(.expanded) > .panel-header ~ * {
				margin-top: 0;
				margin-bottom: 0;
				padding-top: 0;
				padding-bottom: 0;
				border-top: 0 none transparent;
				border-bottom: 0 none transparent;
//				@include opacity(0);

				* {
					margin-top: -100%;
					margin-bottom: 0;
					padding-top: 0;
					padding-bottom: 0;
					border-top: 0 none transparent;
					border-bottom: 0 none transparent;
				}
			}
		}
	}
}

.panel {
	margin-bottom: $baseline;

	.panel-header {
		.panel-title {}
	}

	.panel-body {}

	.panel-footer {}
}