//
//	@desc		Create spacing classes and default spacing
//	@name		Whitespace
//	@author
//	@tested		Safari, Chrome, Firefox, IE7+
//	@requires	_settings.scss
//
//	todo		negatív értékekre is megcsinálni



$baseline:					18pt !default;
$gutter:					$grid-gutter !default;


//	––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//	NEW spacing states
//

//	––––––––––––––
//	outer spacing


//	margin top
.no-margin-top		{ margin-top: 0 !important; }
.margin-top			{ margin-top: $baseline; }
.margin-top-half	{ margin-top: $baseline / 2; }
.margin-top-third	{ margin-top: $baseline / 3; }
.margin-top-dbl		{ margin-top: $baseline * 2; }

//	margin bottom
.no-margin-bottom	{ margin-bottom: 0 !important; }
.margin-bottom		{ margin-bottom: $baseline; }
.margin-bottom-half	{ margin-bottom: $baseline / 2; }
.margin-bottom-third{ margin-bottom: $baseline / 3; }
.margin-bottom-dbl	{ margin-bottom: $baseline * 2; }

//	vertical margin
.no-vmargin			{ @extend .no-margin-top;		@extend .no-margin-bottom; }
.vmargin			{ @extend .margin-top;			@extend .margin-bottom; }
.vmargin-half		{ @extend .margin-top-half;		@extend .margin-bottom-half; }
.vmargin-third		{ @extend .margin-top-third;	@extend .margin-bottom-third; }
.vmargin-dbl		{ @extend .margin-top-dbl;		@extend .margin-bottom-dbl; }

//	margin left
.no-margin-left		{ margin-left: 0 !important; }
.margin-left		{ margin-left: $gutter; }
.margin-left-half	{ margin-left: $gutter / 2; }
.margin-left-third	{ margin-left: $gutter / 3; }
.margin-left-dbl	{ margin-left: $gutter * 2; }

//	margin right
.no-margin-right	{ margin-right: 0 !important; }
.margin-right		{ margin-right: $gutter; }
.margin-right-half	{ margin-right: $gutter / 2; }
.margin-right-third	{ margin-right: $gutter / 3; }
.margin-right-dbl	{ margin-right: $gutter * 2; }

//	horizontal margin
.no-hmargin			{ @extend .no-margin-left;		@extend .no-margin-right; }
.hmargin			{ @extend .margin-left;			@extend .margin-right; }
.hmargin-half		{ @extend .margin-left-half;	@extend .margin-right-half; }
.hmargin-third		{ @extend .margin-left-third;	@extend .margin-right-third; }
.hmargin-dbl		{ @extend .margin-left-dbl;		@extend .margin-right-dbl; }

//	margin
.no-margin			{ @extend .no-hmargin;		@extend .no-vmargin; }
.margin				{ @extend .hmargin;			@extend .vmargin; }
.margin-half		{ @extend .hmargin-half;	@extend .vmargin-half; }
.margin-third		{ @extend .hmargin-third;	@extend .vmargin-third; }
.margin-dbl			{ @extend .hmargin-dbl;		@extend .vmargin-dbl; }


//	––––––––––––––
//	outer negative spacing


//	margin top
.margin-top--			{ margin-top: $baseline * -1; }
.margin-top-half--		{ margin-top: $baseline / -2; }
.margin-top-third--		{ margin-top: $baseline / -3; }
.margin-top-dbl--		{ margin-top: $baseline * -2; }

//	margin bottom
.margin-bottom--		{ margin-bottom: $baseline * -1; }
.margin-bottom-half--	{ margin-bottom: $baseline / -2; }
.margin-bottom-third--	{ margin-bottom: $baseline / -3; }
.margin-bottom-dbl--	{ margin-bottom: $baseline * -2; }

//	vertical margin
.vmargin--				{ @extend .margin-top--;		@extend .margin-bottom--; }
.vmargin-half--			{ @extend .margin-top-half--;	@extend .margin-bottom-half--; }
.vmargin-third--		{ @extend .margin-top-third--;	@extend .margin-bottom-third--; }
.vmargin-dbl--			{ @extend .margin-top-dbl--;	@extend .margin-bottom-dbl--; }

//	margin left
.margin-left--			{ margin-left: $gutter * -1; }
.margin-left-half--		{ margin-left: $gutter / -2; }
.margin-left-third--	{ margin-left: $gutter / -3; }
.margin-left-dbl--		{ margin-left: $gutter * -2; }

//	margin right
.margin-right--			{ margin-right: $gutter * -1; }
.margin-right-half--	{ margin-right: $gutter / -2; }
.margin-right-third--	{ margin-right: $gutter / -3; }
.margin-right-dbl--		{ margin-right: $gutter * -2; }

//	horizontal margin
.hmargin--				{ @extend .margin-left--;		@extend .margin-right--; }
.hmargin-half--			{ @extend .margin-left-half--;	@extend .margin-right-half--; }
.hmargin-third--		{ @extend .margin-left-third--;	@extend .margin-right-third--; }
.hmargin-dbl--			{ @extend .margin-left-dbl--;	@extend .margin-right-dbl--; }

//	margin
.margin--				{ @extend .hmargin--;		@extend .vmargin--; }
.margin-half--			{ @extend .hmargin-half--;	@extend .vmargin-half--; }
.margin-third--			{ @extend .hmargin-third--;	@extend .vmargin-third--; }
.margin-dbl--			{ @extend .hmargin-dbl--;	@extend .vmargin-dbl--; }


//	––––––––––––––
//	inner spacing

//	padding top
.no-padding-top			{ padding-top: 0 !important; }
.padding-top			{ padding-top: $baseline; }
.padding-top-half		{ padding-top: $baseline / 2; }
.padding-top-third		{ padding-top: $baseline / 3; }
.padding-top-dbl		{ padding-top: $baseline * 2; }

//	padding bottom
.no-padding-bottom		{ padding-bottom: 0 !important; }
.padding-bottom			{ padding-bottom: $baseline; }
.padding-bottom-half	{ padding-bottom: $baseline / 2; }
.padding-bottom-third	{ padding-bottom: $baseline / 3; }
.padding-bottom-dbl		{ padding-bottom: $baseline * 2; }

//	vertical padding
.no-vpadding			{ @extend .no-padding-top;		@extend .no-padding-bottom; }
.vpadding				{ @extend .padding-top;			@extend .padding-bottom; }
.vpadding-half			{ @extend .padding-top-half;	@extend .padding-bottom-half; }
.vpadding-third			{ @extend .padding-top-third;	@extend .padding-bottom-third; }
.vpadding-dbl			{ @extend .padding-top-dbl;		@extend .padding-bottom-dbl; }

//	padding left
.no-padding-left		{ padding-left: 0 !important; }
.padding-left			{ padding-left: $gutter; }
.padding-left-half		{ padding-left: $gutter / 2; }
.padding-left-third		{ padding-left: $gutter / 3; }
.padding-left-dbl		{ padding-left: $gutter * 2; }

//	padding right
.no-padding-right		{ padding-right: 0 !important; }
.padding-right			{ padding-right: $gutter; }
.padding-right-half		{ padding-right: $gutter / 2; }
.padding-right-third	{ padding-right: $gutter / 3; }
.padding-right-dbl		{ padding-right: $gutter * 2; }

//	horizontal padding
.no-hpadding			{ @extend .no-padding-left;		@extend .no-padding-right; }
.hpadding				{ @extend .padding-left;		@extend .padding-right; }
.hpadding-half			{ @extend .padding-left-half;	@extend .padding-right-half; }
.hpadding-third			{ @extend .padding-left-third;	@extend .padding-right-third; }
.hpadding-dbl			{ @extend .padding-left-dbl;	@extend .padding-right-dbl; }

//	padding
.no-padding				{ @extend .no-hpadding;		@extend .no-vpadding; }
.padding				{ @extend .hpadding;		@extend .vpadding; }
.padding-half			{ @extend .hpadding-half;	@extend .vpadding-half; }
.padding-third			{ @extend .hpadding-third;	@extend .vpadding-third; }
.padding-dbl			{ @extend .hpadding-dbl;	@extend .vpadding-dbl; }


//
//	Horizontal and vertial spacing
//

//	Horizontal spacing with list-inline "hack"
@mixin hspacing($prefix: "hspacing", $spacing: $gutter) {

	.#{$prefix}, .list-inline.#{$prefix} {						// if list-inline is inline-block

		& > * {
			margin-right: $spacing;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

@include hspacing("hspacing", $gutter);
@include hspacing("hspacing-half", $gutter / 2);
@include hspacing("hspacing-third", $gutter / 3);
@include hspacing("hspacing-quarter", $gutter / 4);
@include hspacing("hspacing-1", 1px);
@include hspacing("hspacing-2", 2px);
@include hspacing("hspacing-3", 3px);
@include hspacing("hspacing-4", 4px);
@include hspacing("hspacing-5", 5px);

//	Vertical spacing
@mixin vspacing($prefix: "vspacing", $spacing: $baseline) {

	.#{$prefix} {

		& > * {
			margin-bottom: $spacing;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@include vspacing("vspacing", $baseline);
@include vspacing("vspacing-half", $baseline / 2);
@include vspacing("vspacing-third", $baseline / 3);
@include vspacing("vspacing-quarter", $baseline / 4);
@include vspacing("vspacing-1", 1px);
@include vspacing("vspacing-2", 2px);
@include vspacing("vspacing-3", 3px);
@include vspacing("vspacing-4", 4px);
@include vspacing("vspacing-5", 5px);