//	@desc         Keep inline and inline-block elements at the same line
//	@name         No wrap
//	@author
//	@tested
//	@requires

//	Research	http://css-tricks.com/almanac/properties/w/whitespace/

//				New			Spaces 		Text
//				lines		and tabs	wrapping
//				--------	--------	--------
//	normal		Collapse	Collapse	Wrap
//	pre			Preserve	Preserve	No wrap
//	nowrap		Collapse	Collapse	No wrap
//	pre-wrap	Preserve	Preserve	Wrap
//	pre-line	Preserve	Collapse	Wrap


.wrap-normal {
	white-space: normal;
}

.nowrap {
	white-space: nowrap;
}

.pre {
	white-space: pre;
}

.prewrap {
	white-space: pre-wrap;
}

.preline {
	white-space: pre-line;
}

//	------------

.break-word {
	word-break: break-word;
}

.break-word-normal {
	word-break: normal;
}

.break-word-all {
	word-break: break-all;
}

.break-word-keepall {
	word-break: keep-all;
}