//
//	Autocomplete
//

//	todo	szinkronba hozni a fomméretezővel


$enable-autocomplete-module:true !default;


//
//	Launch autocomplete module
//
@if $enable-autocomplete-module {

	// eredeti select elrejtése
	.ac-hidden-select {
		display: none;
	}

	// a létrehozott új select wrappere
	.ac-select {
		position: relative;
		//	width: 100%;
		display: inline-block;
		line-height: 1.5em;
		background-color: #eeeeee;
		vertical-align: top;

		// a rend kedvéért
		* {
			box-sizing: border-box;
		}

		// input általános formázás
		.ac-select-input {
			padding: 2px;
			border: 1px solid #aaaaaa;
		}


		// input field
		.ac-select-input-field {
			width: 100%;
			min-width: 50px;
			margin: 0;
			background-color: transparent;
			outline: 0 none transparent;
			border: 0 none transparent;
		}

		// multiple esetén
		&.ac-select-multiple {

			// input
			.ac-select-input {
				zoom: 1;
				&:before,
				&:after {
					content: " ";
					display: table;
				}
				&:after {
					clear: both;
				}

				// tag konténer
				.ac-select-tag-wrap {
					float: left;
					list-style-type: none;
					margin: 0;
					padding: 0;

					// tag
					.ac-select-tag {
						display: inline-block;
						color: white;
						background-color: skyblue;
						font-size: smaller;
						margin-right: 1px;
						padding: 0 7px;
						vertical-align: top;
						border-radius: 3px;
						-moz-border-radius: 3px;
						-webkit-border-radius: 3px;

						// tag szövege
						.ac-select-tag-text {
							display: inline-block;
							margin-right: 4px;
							white-space: nowrap;
						}

						// bezás gomb > a gomb html-he js paraméterből cserélhető
						.ac-select-tag-remove {
							display: inline-block;
							float: right;
							cursor: pointer;

							&:hover {
								//							color: transparentize(white, .5);
							}
						}
					}
				}

				// input wrap csak multiple esetén
				.ac-select-input-wrap {
					display: table-cell;
					vertical-align: top;
					width: 10000px !important;
				}
			}

			// ha muliple esetén kiválasztásra kerül egy elem és tagként megjelenik, akkor a listtából ezzel tüntethető el
			// azért nem sima hide, mert a display: none-t használja a gépelés közbeni szűréshez
			.ac-multi-hide {
				height: 0;
				padding: 0;
				overflow: hidden;
			}
		}

		// legördülő lista általános megjelenés
		.ac-select-list {
			display: none;
			list-style-type: none;
			width: 100%;
			margin: -1px 0 0;
			padding: 0;
			position: absolute;
			max-height: 400px;
			background-color: #eeeeee;
			overflow: auto;
			border: 1px solid #aaaaaa;
			border-top: 0 none transparent;
			z-index: 99;

			li {
				padding: 5px 10px;
				cursor: pointer;

				&.ac-select-hl {
					color: white;
					background-color: #5897FB;
				}
			}

			// lista megjelnítésére szolgála, alapból rejtett
			&.ac-show {
				display: block;
			}
		}
	}
}