//	@name
//	@desc		Horizontal line style
//	@author		Armin
//	@tested
//	@requires



@if global-variable-exists(enable-typography-module) {
	@if not $enable-typography-module {
		$show-typography-module: false !global;
	}
}

@if $show-typography-module {

	hr {
		border: 0;
		height: 1px;
	}
}
