//	@desc		Responsive typography settings
//	@name
//	@author		Armin
//	@tested
//	@requires	_settings.scss
//
//	Research	http://snook.ca/archives/html_and_css/font-size-with-rem
//
//	todo	egyszerűsítés a responsive betűméretek terén > átemelni változókba ÉS state-ekbe ($h1-xs, .h1-md, .h3-deep) stb.
//	todo	végignyálazni az összes elemet (belső sablon lehetőségeket stb.)
//	todo	a további alapformázásokat is belőni (cite, abbr, code, q stb.)
//	todo	kitalálni valamit a notes, hints jellegű szövegeknek is
//	todo	megoldani a reversed színek esetét is!



$enable-typography-module:	true !default;

//	Common font families
$helvetica:					Helvetica, Arial, sans-serif !default;
$helvetica-neue:			"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$arial:						Arial, Helvetica, sans-serif !default;
$georgia:					Georgia, Times, "Times New Roman", serif !default;
$times:						Times, "Times New Roman", Georgia, serif !default;
$monospace:					Courier, "Courier New", Monaco, monospace !default;
$sourcecode:				"Source Code Pro", #{$monospace} !default;

$base-font-family:			$helvetica-neue !default;
$base-font-size:			12pt !default;
$baseline:					18pt !default;
$gutter:					$grid-gutter !default;

$font-sizes-print:			() !default;
$font-sizes-xsmall:			() !default;
$font-sizes-small:			() !default;
$font-sizes-medium:			() !default;
$font-sizes-large:			() !default;
$font-sizes-xlarge:			() !default;
$font-sizes-retina:			() !default;

//	Responisve selector font-size and line-height generator
@mixin set-font-sizes($arg) {

	//	if list is not empty
	@if length($arg) != 0 {

		//	if first item is not list – this is a "hack" (hülye sass ha egy listát teszek listába, már nem látja listának)
		@if type_of(nth($arg, 1)) != list {

			#{nth($arg, 1)} {
				font-size: rem(nth($arg, 2));
				@if length($arg) >= 3 {
					line-height: rem(nth($arg, 3));
				} @else {
					line-height: $baseline;
				}
			}

			//	if first item is list
		} @else {

			@each $v in $arg {

				#{nth($v, 1)} {
					font-size: rem(nth($v, 2));
					@if length($v) >= 3 {
						line-height: rem(nth($v, 3));
					} @else {
						line-height: $baseline;
					}
				}
			}
		}
	}
}


//	Load typography module
@if $enable-typography-module {

	html {
		font-size: 100%;						//	IE
		font-size: $base-font-size;
		line-height: $baseline;

		*, * > *, *:before, *:after {
			@include border-box;
		}
	}

	body {
		@include font-smoothing(true);
		font-family: $base-font-family;
//		font-weight: 400;
		color: $text-color;
		background-color: $bg-color;

		::selection {
			background-color: $selection-bg-color;
			color: $selection-color;
		}
	}

	// font és opentype feature-ök bekapcsolása
	html, body {
		font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0; /* 1. */
	}

	//	loading media query specific –—responsive–— font sizes
	@include set-font-sizes($font-sizes-xsmall);
	@media #{$print}	{ @include set-font-sizes($font-sizes-print); }		// print specific
	@media #{$small}	{ @include set-font-sizes($font-sizes-small); }
	@media #{$medium}	{ @include set-font-sizes($font-sizes-medium); }
	@media #{$large}	{ @include set-font-sizes($font-sizes-large); }
	@media #{$xlarge}	{ @include set-font-sizes($font-sizes-xlarge); }
	@media #{$retina}	{ @include set-font-sizes($font-sizes-retina); }


	//	vertival rhythm
	h1, h2, h3, h4, h5, h6,
	p, blockquote, table, pre, ul, ol, dl {
		margin-top: 0;
		margin-bottom: $baseline;
	}

	ul, ol {
		ul, ol {
			margin-bottom: 0;
		}
	}

	//	headers
	h1, h2, h3, h4, h5, h6 {
//		color: $header-color;

		a {
			text-decoration: none;
		}
	}

	//	subheader
	.subheader {
		color: $subheader-color;
	}

	//	paragraph
	p {}

	//	small sized text
	small, sub, sup {}

	//	abbreviation
	abbr {}

	//	address
	address {}

	//	time format
	time {}

	//	ordered list
	ol { li {} }

	//	unordered list
	ul { li {} }

	//	keyboard input
	kbd {}

	//	aside text
	aside {}

	//	line height states
	.lh-50 { line-height: 50% !important; }
	.lh-60 { line-height: 60% !important; }
	.lh-70 { line-height: 70% !important; }
	.lh-80 { line-height: 80% !important; }
	.lh-90 { line-height: 90% !important; }
	.lh-100 { line-height: 100% !important; }
	.lh-110 { line-height: 110% !important; }
	.lh-120 { line-height: 120% !important; }
	.lh-130 { line-height: 130% !important; }
	.lh-140 { line-height: 140% !important; }
	.lh-150 { line-height: 150% !important; }
	.lh-160 { line-height: 160% !important; }
	.lh-170 { line-height: 170% !important; }
	.lh-180 { line-height: 180% !important; }
	.lh-190 { line-height: 190% !important; }
	.lh-200 { line-height: 200% !important; }
}