//  ------------------------------------------------------------
// Insert a :before message – useful for checking
// ------------------------------------------------------------


@mixin msg($msg-content, $msg-color: black) {
  @if $MESSAGE {
    &:before {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 7pt;
      letter-spacing: 0.2pt;
      color: $msg-color;
      content: quote($msg-content);
    }
  }
}
