//	@desc		Pagination
//	@name		Pagination
//	@author		Armin
//	@tested
//	@requires
//
//	todo		infinite scroll



.pagination {
	@extend .vmargin;
	text-align: center;
	font-size: rem(1rem);
	line-height: rem(1rem);

	a {
		@extend .inline-block;
		padding: rem(.7rem) rem(1rem);
		@include border-radius(.3rem);

		&:hover {
			text-decoration: none;
			background-color: $color-1;
			color: $bg-color;
		}
	}

	.sel a {
		color: $selected-color;
		background-color: $selected-bg-color;
	}
}