//	@desc		Draw arrows – up, right, bottom, left
//	@name
//	@author		Armin
//	@tested		Safari, Chrome, Firefox
//	@requires


//	resource:	http://codeitdown.com/css-triangles-responsive/
//				http://css-tricks.com/snippets/css/css-triangle/

//	usage:		@include triangle(300px, 300px, upleft, black;

@mixin triangle($width: 20px, $height: 20px, $direction: up, $color: black) {
	width: 0;
	height: 0;

	// up
	@if $direction == up {
		border-left: $width / 2 solid transparent;
		border-right: $width / 2 solid transparent;
		border-bottom: $height solid $color;
	}

	// right
	@if $direction == right {
		border-top: $height / 2 solid transparent;
		border-bottom: $height / 2 solid transparent;
		border-left: $width solid $color;
	}

	// down
	@if $direction == down {
		border-left: $width / 2 solid transparent;
		border-right: $width / 2 solid transparent;
		border-top: $height solid $color;
	}

	// left
	@if $direction == left {
		border-top: $height / 2 solid transparent;
		border-bottom: $height / 2 solid transparent;
		border-right: $width solid $color;
	}

	// up left
	@if $direction == upleft {
		border-right: $width solid transparent;
		border-top: $height solid $color;
	}

	// up right
	@if $direction == upright {
		border-left: $width solid transparent;
		border-top: $height solid $color;
	}

	// down right
	@if $direction == downright {
		border-left: $width solid transparent;
		border-bottom: $height solid $color;
	}

	// down left
	@if $direction == downleft {
		border-right: $width solid transparent;
		border-bottom: $height solid $color;
	}
}