//	@desc		Set z-index in proper order
//	@name
//	@author		Armin
//	@tested
//	@requires


//	Research	http://dev.tutsplus.com/articles/what-you-may-not-know-about-the-z-index-property--webdesign-16892
//				http://css-tricks.com/may-know-z-index/

//	Usage:		@include z-index(.header, .content, .footer);
//				@include z-index(.header, .content, .footer, 200);

@mixin font-smoothing($arg: true) {
	@if $arg {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	@else {
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
}