//	@desc		Set z-index in proper order
//	@name
//	@author		Armin
//	@tested
//	@requires
//
//	todo 		z-indet-et átgondolni, hogy esetleg intervallumot is lehessen megadni vagy …


//	Research	http://dev.tutsplus.com/articles/what-you-may-not-know-about-the-z-index-property--webdesign-16892
//				http://css-tricks.com/may-know-z-index/

//	Usage:		@include z-index(.header, .content, .footer);
//				@include z-index(.header, .content, .footer, 200);

@mixin z-index($args...) {

	$increment: 100;
	
	@if type_of( nth($args, length($args)) ) == number {
		$increment: nth($args, length($args));
	}

	$arg-z-index: 100;
	@each $arg-z-index-selector in $args {
		#{$arg-z-index-selector} {
			z-index: $arg-z-index;
		}
		$arg-z-index: $arg-z-index + $increment;
	}
}

@mixin z-index-absolute($args...) {

	$increment: 100;

	@if type_of( nth($args, length($args)) ) == number {
		$increment: nth($args, length($args));
	}

	$arg-z-index: 100;
	@each $arg-z-index-selector in $args {
		#{$arg-z-index-selector} {
			position: absolute;
			z-index: $arg-z-index;
		}
		$arg-z-index: $arg-z-index + $increment;
	}
}

@mixin z-index-relative($args...) {

	$increment: 100;

	@if type_of( nth($args, length($args)) ) == number {
		$increment: nth($args, length($args));
	}

	$arg-z-index: 100;
	@each $arg-z-index-selector in $args {
		#{$arg-z-index-selector} {
			position: relative;
			z-index: $arg-z-index;
		}
		$arg-z-index: $arg-z-index + $increment;
	}
}

@mixin z-index-fixed($args...) {

	$increment: 100;

	@if type_of( nth($args, length($args)) ) == number {
		$increment: nth($args, length($args));
	}

	$arg-z-index: 100;
	@each $arg-z-index-selector in $args {
		#{$arg-z-index-selector} {
			position: fixed;
			z-index: $arg-z-index;
		}
		$arg-z-index: $arg-z-index + $increment;
	}
}
