//	@desc		Opacity
//	@name
//	@author		Armin
//	@tested
//	@requires


@mixin opacity($opacity) {
	-moz-opacity: $opacity;
	opacity: $opacity;
//	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=$opacity * 100);
	filter: unquote("alpha(opacity=" + $opacity * 100 + ")");
}